:root {
    --textColor: rgb(40, 40, 40);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: var(--textColor);
    box-sizing: border-box;
}

.footer {
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
    color: lightgrey;
}

.navbar {
    overflow: hidden;
    padding-top: 24px;
    padding-left: 24px;
    font-size: 1.1em;
}

.navbar a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--textColor)
}

.navbar a:hover{
    text-decoration: underline;
}